<!doctype html>
<html>
<head>
  <title>
    {{ config.extra.site_title }} · {% block title %}
      {%- if page %}
        {{ page.title }}
      {% elif section %}
        {{ section.title }}
      {% elif title %}
        {{ title }}
      {% endif -%}
    {% endblock %}
  </title>
  <script
  src="https://cdn.telemetrydeck.com/websdk/telemetrydeck.min.js"
  data-app-id="E91AFE3D-63F9-434A-AF10-8A3EF9910A34"
></script>
<script>
  window.addEventListener("DOMContentLoaded", function () {
    const appId = "E91AFE3D-63F9-434A-AF10-8A3EF9910A34";

    document.addEventListener("click", function (e) {
      const link = e.target.closest("a");
      if (
        link &&
        /\.(pdf|zip|docx?|xlsx?|pptx?|csv|mp4|mp3)$/i.test(link.href)
      ) {
        navigator.sendBeacon(
          "https://telemetrydeck.com/api/v1/signal",
          JSON.stringify({
            appIdentifier: appId,
            clientUserIdentifier: "anonymous-download", // optional
            signalType: "file_download",
            payload: {
              href: link.href,
              filename: link.href.split("/").pop(),
              page: window.location.pathname,
            },
          })
        );
      }
    });
  });
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "partials/load_fonts.html" %}
  {% include "partials/load_tailwind.html" %}
  {% include "partials/load_lettershuffler.html" %}
  {% include "partials/favicon.html" %}
</head>
<body class="!block">
  {% block body %}
  {% endblock %}
</body>
</html>
